.app {
  text-align: center;
  .title {
  }
  .workplace {
    display: flex;
    width: 100%;
    min-width: 1100px;
    .arguments {
      flex: 0 0 30%;
      width: 30%;
      height: 100%;
    }
    .charts {
      flex: 1;
      height: 100%;
    }
  }
}

a {
  color: #222222;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

